.gastro-plato8-offer {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.gastro-plato8-image {
  object-fit: cover;
}
.gastro-plato8-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  flex-direction: column;
}
.gastro-plato8-details {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.gastro-plato8-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.gastro-plato8-text1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}




@media(max-width: 1600px) {
  .gastro-plato8-text {
    font-size: 20px;
  }
  .gastro-plato8-text1 {
    color: var(--dl-color-gray-black);
    font-size: 18px;
    align-self: stretch;
    font-style: normal;
    text-align: justify;
    font-family: Poppins;
    font-weight: 200;
  }
  .gastro-plato8-text2 {
    align-self: stretch;
    text-align: justify;
  }
}
@media(max-width: 1200px) {
  .gastro-plato8-text {
    font-size: 20px;
    font-style: inherit;
    font-family: Poppins;
    font-weight: 400;
  }
  .gastro-plato8-text1 {
    color: var(--dl-color-gray-black);
    font-size: 18px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 200;
  }
}
@media(max-width: 991px) {
  .gastro-plato8-image {
    width: 100%;
  }
}
