.ruta-islas-gili-offer {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.ruta-islas-gili-image {
  object-fit: cover;
}
.ruta-islas-gili-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  flex-direction: column;
}
.ruta-islas-gili-details {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ruta-islas-gili-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.ruta-islas-gili-text1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}






@media(max-width: 1600px) {
  .ruta-islas-gili-text {
    font-size: 20px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
  }
  .ruta-islas-gili-text1 {
    font-size: 18px;
    align-self: stretch;
    font-style: normal;
    text-align: justify;
    font-family: Poppins;
    font-weight: 200;
  }
}
@media(max-width: 991px) {
  .ruta-islas-gili-image {
    width: 100%;
  }
}
