.ruta-dieng-plateau-offer {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.ruta-dieng-plateau-image {
  object-fit: contain;
}
.ruta-dieng-plateau-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  flex-direction: column;
}
.ruta-dieng-plateau-details {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ruta-dieng-plateau-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.ruta-dieng-plateau-text1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}



@media(max-width: 1600px) {
  .ruta-dieng-plateau-text {
    font-size: 20px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
  }
  .ruta-dieng-plateau-text1 {
    font-size: 18px;
    align-self: stretch;
    font-style: normal;
    text-align: justify;
    font-family: Poppins;
    font-weight: 200;
  }
  .ruta-dieng-plateau-root-class-name {
    color: var(--dl-color-gray-black);
    align-self: stretch;
    text-align: justify;
  }
  .ruta-dieng-plateau-root-class-name1 {
    color: var(--dl-color-gray-black);
    align-self: stretch;
    text-align: justify;
  }
  .ruta-dieng-plateau-root-class-name2 {
    color: var(--dl-color-gray-black);
    align-self: stretch;
    text-align: justify;
  }
}
@media(max-width: 991px) {
  .ruta-dieng-plateau-image {
    width: 100%;
  }
}
